/** login**/
.login-page {
	border:3px solid #bb9a6c;
	border-radius: 5px;
	margin: 30px auto;
	padding: 25px;
	text-align: center;
}

.login-page .get-title {
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

.login-page form {
	text-align: left;
    margin-left: 30%;
}

.login-page form input {
	margin-top:10px;
	margin-bottom:10px;
}

.login-page .lo-pwd {
	margin-left: 14px;
}

.block1 .lo-btn {
	margin:10px auto;
	padding:5px 15px;
	font-size: 14px;
	color: #333;
	background-color: #F5A30E;
	border-radius: 5px;
	border: none;
}

.block1 input {
	width: 154px;
}

.block1 .ipt-log {
	text-align: left;
	padding-left: 35px;
}

.block1 .reg-1 {
	margin-left: 15px;
}
.block1 .reg-2 {
	margin-left: 28px;
}
.block1 .reg-3 {
	
}
.block1 .reg-4 {
	margin-left: 28px;
}
.block1 .reg-5 {
	margin-left: 28px;
}
.block1 .reg-6 {
	width: 80px;
	margin-left: 30px;
}
.block1 .reg-7 {
	width: 80px;
	margin-left: 10px;
}

.user-change-wrap {
	margin:0;
	padding: 0;
	display: block;
}

.user-change-wrap:before,.user-change-wrap:after {
	content: " ";
	display: table;
}

.user-change-wrap:after{
	clear: both;
}

.user-change-wrap a {
	width: 30%;
	padding: 10px 10px;
	margin: 10px 20px 0 20px;
	text-align: center;
	display: inline-block;
	color: #000;
	border-radius: 5px;
	background-color: #ebebeb;
}

.user-change-wrap a.active {
	background-color: #F5A30E;
	color: #fff;
}

@media (max-width: 768px) {
	.login-page form {
		margin:15px auto;
		text-align: left;
		margin-left: 3%;	
	}

	.login-page .get-title {
		text-align: left;
		margin-left: 10px;
	}
}	

@media (min-width: 768px) {
	

}	

@media (min-width: 768px) and (max-width: 992px) {
	

}

@media (min-width: 992px) and (max-width: 1200px) {
	
}

@media (min-width: 1200px) {
	
	
}	